body{min-height:94vh;padding:22px 0;background:linear-gradient(to bottom,#0272f3,#041d53);font-family:Arial,sans-serif;}

.container{max-width:400px;margin:0 auto;padding:30px;background-color:rgba(255,255,255,0.8);border-radius:10px;box-shadow:0 0 10px #00000033;}

h2{
    text-align: center;
}

.form-group{margin-bottom:20px;padding-right:20px}

label{display:block;margin-bottom:5px;color:#130f0f;}

input[type="text"],input[type="password"],input[type="date"],input[type="email"],input[type="number"]{width:100%;padding:10px;margin-bottom:10px;border:1px solid #ccc;border-radius:5px}

button{background-color:#0c74d6;color:#fff;border:none;padding:10px 40px;border-radius:5px;cursor:pointer}

button:hover{background-color:#100db3}

footer{position:absolute;padding:25px}

h6{
    margin-top: 10px; font-size: 13px;
}

.fem {
    margin-top: -74px; margin-left: 90px;
}

.other{
    margin-top: -74px; margin-left: 180px;
}